#root {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

@font-face {
  font-family: "SEBANG Gothic";
  src: url("../public/SEBANGGothic.ttf") format("woff2");
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #bababa;
  opacity: 0.6;
  border-radius: 37px;
}
